---
pagination:
  data: catalog.models
  alias: model
  size: 1
permalink: 'aws/{{model.shortName | slugify}}.yaml'
---
{% set entries = model.datasets | selectattr('githubIcechunkUrl') | list %}
Name: {{model.name}}
Description: |
  {{model.description | safe}}
  These datasets have been translated to cloud-optimized Icechunk Zarr format by <a href="https://dynamical.org">dynamical.org</a>.
  <ul>
  {% for entry in entries %}
  <li><a href="https://dynamical.org/catalog/{{ entry.dataset_id | slugify }}/">{{ entry.name }}</a> - {{ entry.description | safe }}</li>
  {% endfor %}
  </ul>
Documentation: https://dynamical.org/catalog/{{model.shortName | slugify}}/'
Contact: feedback@dynamical.org
ManagedBy: "[dynamical.org](https://dynamical.org)"
UpdateFrequency: {% for entry in entries %}{{entry.name}}: {{ entry.time_resolution }}{% if not loop.last %}; {% endif %}{% endfor %}
Tags:
  - weather
  - atmosphere
  - meteorological
  - climate
  - forecast
  - zarr
License: "[CC BY 4.0](https://creativecommons.org/licenses/by/4.0/)"
Resources:
  - Description: {{model.name}} Icechunk Zarr data
    ARN: arn:aws:s3:::dynamical-{{model.shortName | slugify}}
    Region: us-west-2
    Type: S3 Bucket
    Explore:
      - "[Browse Bucket](https://dynamical-{{model.shortName | slugify}}.s3.amazonaws.com/index.html)"
DataAtWork:
  Tutorials:
  {% for entry in entries %}
    - Title: {{entry.name}} python quickstart notebook
      NotebookURL: {{entry.githubIcechunkUrl}}
      AuthorName: dynamical.org
      AuthorURL: https://dynamical.org
  {% endfor %}
ADXCategories:
  - Environmental Data