---
layout: base.njk
pagination:
  data: catalog.entries
  alias: entry
  size: 1
permalink: 'catalog/{{entry.dataset_id | slugify}}/'
eleventyComputed:
  title: '{{entry.name}}'
---

<style>
  .content.catalog-item {
    font-size: 1.4rem;
  }
  .metadata-comment {
    font-size: 80%;
  }
  .metadata-comment td {
    padding-top: 0;
  }
  .metadata-comment span {
    background-color: rgb(250, 250, 250);
    color: rgb(45, 45, 45);
  }
</style>
<script>
  function copyUrl() {
    const input = document.getElementById('catalog-entry-url');
    input.select();
    document.execCommand('copy');
  }
</script>
<div class="content catalog-item">
  {%- set model = catalog.models | find('id', entry.modelId) %}
  <div>
    <a href="/catalog">Catalog</a>
    {% if model %}
      >
      <a href="/catalog/models/{{ model.id }}">{{ model.name }}</a>
    {% endif %}
    > {{ entry.name }}
  </div>
  <div style="margin: 3rem 0;">
    {% include "catalog-entry-status.njk" %}
    <h1 style="margin-top: 0;">{{ entry.name }}</h1>
  </div>
  <table>
    <tr>
      <td>Spatial domain</td>
      <td>{{ entry.spatial_domain }}</td>
    </tr>
    <tr>
      <td>Spatial resolution</td>
      <td>{{ entry.spatial_resolution }}</td>
    </tr>
    <tr>
      <td>Time domain</td>
      <td>{{ entry.time_domain }}</td>
    </tr>
    <tr>
      <td>Time resolution</td>
      <td>{{ entry.time_resolution }}</td>
    </tr>
    {% if entry.forecast_domain %}
      <tr>
        <td>Forecast domain</td>
        <td>{{ entry.forecast_domain }}</td>
      </tr>
      <tr>
        <td>Forecast resolution</td>
        <td>{{ entry.forecast_resolution }}</td>
      </tr>
    {% endif %}
  </table>
  <p>
    <input id="catalog-entry-url" readonly name="url" value="{{ entry.url }}" style="width: {{ entry.url.length + 2 }}ch; max-width: 100%;"/>
    <span style="cursor: pointer;" onclick="copyUrl()">⎘</span>
    <div class="metadata-comment">
      <span>* Email optional. Providing your email as a query param helps us understand usage and impact to keep dynamical.org
        supported for the long-term. For catalog updates follow
        <a href='/updates'>here</a>.</span>
    </div>
  </p>
  {% if model %}
    <p style="text-wrap: balance">{{ model.description | safe }}</p>
  {% endif %}
  <p style="text-wrap: balance">{{ entry.descriptionSummary | safe }}</p>
  {% if model.datasets.length > 1 %}
    <h3>Related Datasets</h3>
    <ul>
      {% for dataset in model.datasets %}
        {% if dataset.dataset_id != entry.dataset_id %}
          <li>
            {% if dataset.status == 'live' or dataset.status == 'available' %}
              <a href="/catalog/{{ dataset.dataset_id | slugify }}">{{ dataset.name }}</a>
            {% else %}
              {{ dataset.name }} ({{ dataset.status }})
            {% endif %}
            - {{ dataset.description | safe }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  <h2>Examples</h2>
  <table>
    {% if entry.githubUrl %}
      <tr>
        <td style="text-align: center"><img src="/assets/github-mark.svg" height="18"/>
        </td>
        <td>
          <a href="{{ entry.githubUrl }}">Open notebook in github</a>
        </td>
      </tr>
    {% endif %}
    {% if entry.colabUrl %}
      <td style="text-align: center;"><img src="/assets/colab.svg" height="18"/>
      </td>
      <td>
        <a href="{{ entry.colabUrl }}">Open notebook in colab</a>
      </td>
    {% endif %}
  </table>
  {% for example in entry.examples %}
    <div class="frame">
      <div class="frameHeader">
        <div class="frameHeaderTitle">dynamical.org - {{ entry.name | truncate(30, true, '...') }}</div>
        <div class="frameHeaderSubtitle">{{ example.title }}</div>
      </div>
      <pre class="frameContent frameContentDesktop"><code>{{ example.code | highlight('py') | safe }}</code></pre>
    </div>
  {% endfor %}
  <h2>Dimensions</h2>
  <div class="table-container">
    <table class="data">
      <tr>
        <th/>
        <th class='right'>min</th>
        <th class='right'>max</th>
        <th class='right'>units</th>
      </tr>
      {% for dim in entry.dimensions %}
        <tr>
          <td>
            <strong>{{ dim.name }}</strong>
          </td>
          <td class='right'>{{ dim.statistics_approximate.min }}</td>
          <td class='right'>{{ dim.statistics_approximate.max }}</td>
          <td class='right'>{{ dim.units }}</td>
        </tr>
        <tr class="metadata-comment">
          <td colspan="4">
            <span></span>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <h2>Variables</h2>
  <div class="table-container">
    <table class="data">
      <tr>
        <th/>
        <th class='right'>units</th>
        <th class='right'>dimensions</th>
      </tr>
      {% for variable in entry.variables %}
        <tr>
          <td>
            <strong>{{ variable.name }}</strong>
            <p class="metadata-comment">{{ variable.long_name }}</p>
            {% if variable.comment %}
              <p class="metadata-comment">{{ variable.comment }}</p>
            {% endif %}
          </td>
          <td class='right'>{{ variable.units }}</td>
          <td class='right'>{{ variable.dimension_names.join(' × ') }}</td>
        </tr>
        <tr class="metadata-comment">
          <td colspan="3">
            <span></span>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <p class="metadata-comment">
    Don't see what you're looking for? Let us know at
    <a href="mailto:feedback@dynamical.org">feedback@dynamical.org</a>.
  </p>
  <h2>Details</h2>
  <p>
    {{ entry.descriptionDetails | safe }}
  </p>
</div>