---
layout: base.njk
title: catalog
---

<style>
  .catalog-list li {
    border-bottom: 1px solid black;
    list-style: none;
    padding: 1rem 0;
  }
  .catalog-list li > * {
    margin: 0;
  }
  .catalog-list li:last-child {
    border-bottom: none;
  }
</style>
<div class="content">
  <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
    <h1>Catalog</h1>
    <div style="margin-left: auto;">
      <a href="/catalog/llms">🤖</a>
    </div>
  </div>
  <ul class="catalog-list">
    {% for entry in catalog %}
      <li>
        <div style='display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;'>
          <strong>
            {% if entry.status == 'live' or entry.status == 'available' %}
              <a href="/catalog/{{ entry.name | slugify }}">{{ entry.name }}</a>
            {% else %}
              {{ entry.name }}
            {% endif %}
          </strong>
          <br/> {% include "catalog-entry-status.njk" %}
        </div>
        <p>{{ entry.description }}</p>
      </li>
    {% endfor %}
  </ul>
  <h2>Phase 1</h2>
  <p>Each of these items includes both live-updating forecasts and derived analysis/climatology datasets.</p>
  <ul class="catalog-list">
    <li>
      <strong>NOAA HRRR
      </strong>
      <em>(in progress)</em>
    </li>
    <li>
      <strong>NOAA GFS
      </strong>
      <em>(in progress)</em>
    </li>
    <li>
      <strong>ECMWF AIFS</strong>
    </li>
    <li>
      <strong>ECMWF ENS, 15 day, 1x day</strong>
    </li>
    <li>
      <strong>ECCC HRDPS</strong>
    </li>
  </ul>
</div>