---
layout: base.njk
title: catalog
---

<style>
  .catalog-list li {
    border-bottom: 1px solid black;
    list-style: none;
    padding: 1rem 0;
  }

  .catalog-list li > * {
    margin: 0;
  }

  .catalog-list li:last-child {
    border-bottom: none;
  }
</style>

<div class="content">
  <h1>Catalog</h1>
  <ul class="catalog-list">

    {% for entry in catalog %}
    <li>
      <div style='display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;'>
        <strong>
          {% if entry.status == 'live' or entry.status == 'available' %}
          <a href="/catalog/{{entry.name | slugify }}">{{entry.name}}</a>
          {% else %}
          {{entry.name}}
          {% endif %}
        </strong>
        <br />

        {% include "catalog-entry-status.njk" %}
      </div>
      <p>{{entry.description}}</p>
    </li>
    {% endfor %}

  </ul>

  <h2>Phase 1b</h2>
  <ul class="catalog-list">
    <li><strong>NOAA GFS analysis, daily</strong></li>
    <li><strong>NOAA GFS climatology, hourly</strong></li>
    <li><strong>NOAA GFS climatology, daily</strong></li>
  </ul>

  <h2>Phase 1c</h2>
  <ul class="catalog-list">
    <li><strong>NOAA GFS forecast</strong></li>
  </ul>

  <h2>Phase 2</h2>
  <ul class="catalog-list">
    <li><strong>ECMWF IFS forecast</strong></li>
    <li><strong>NOAA GEFS forecast</strong></li>
    <li><strong>NOAA HRRR forecast</strong></li>
    <li><strong>DeepMind GraphCast forecast</strong></li>
    <li><strong>ECMWF AIFS forecast</strong></li>
  </ul>
</div>
