---
pagination:
  data: catalog.entries
  alias: entry
  size: 1
  filter:
    entry.githubUrl
permalink: 'earthmover/{{entry.dataset_id}}.md'
---
{%- set model = catalog.models | find('id', entry.model_id) -%}

{{ entry.description }}

| | |
|-------|-------|
| Spatial domain | {{ entry.spatial_domain }} |
| Spatial resolution | {{ entry.spatial_resolution }} |
| Time domain | {{ entry.time_domain }} |
| Time resolution | {{ entry.time_resolution }} |
{%- if entry.forecast_domain %}
| Forecast domain | {{ entry.forecast_domain }} |
| Forecast resolution | {{ entry.forecast_resolution }} |
{% endif %}

{{ entry.description_model | striptags }}

{{ entry.description_summary | striptags }}

> dynamical.org Icechunk datasets are in preview until Icechunk 2 is released, at which point users will need
> to update their client libraries to Icechunk 2. Subscribe to our
> [newsletter](https://dynamical.org/updates/) to be notified when that happens.

_Don't see what you're looking for or have a question? Contact feedback@dynamical.org._

{% if entry.githubUrl %}
## Examples

* [Open notebook in github]({{ entry.githubUrl }})
* [Open notebook in colab]({{ entry.colabUrl }})
{% endif %}

## Dimensions

| dimension | min | max | units |
|-------|-------|-------|-------|
{% for dim in entry.dimensions -%}
| **{{ dim.name }}** | {{ dim.statistics_approximate.min }} | {{ dim.statistics_approximate.max }} | {{ dim.units }} |
{% endfor %}

## Variables

| variable | units | dimensions |
|-------|-------|-------|
{% for variable in entry.variables -%}
| **{{ variable.name }}**{% if variable.short_name %}<br>`{{ variable.short_name }}`{% endif %}{% if variable.long_name %}<br>{{ variable.long_name }}{% endif %}{% if variable.comment %}<br>{{ variable.comment }}{% endif %} | {{ variable.units }} | {{ variable.dimension_names.join(' × ') }} |
{% endfor %}

Contact feedback@dynamical.org to request additional variables.

## Details

### License
{{ entry.license_md }}

### Attribution and citation
_{{ entry.attribution }}_

Or _{{ model.name }} from dynamical.org._

[DOI: 10.5281/zenodo.18777399](https://doi.org/10.5281/zenodo.18777399)

{{ entry.description_details }}

