---
layout: base.njk
title: meetings
---

<div class="content">
{%- for meeting in collections.meetings | reverse -%}
  <article>
    <h2>{{meeting.data.title}}</h2>
    <em>{{meeting.page.date | readableDate}}</em>
    {{meeting.content | safe}}
  </article>
{%- endfor -%}
</div>
