---
pagination:
  data: catalog.entries
  alias: entry
  size: 1
eleventyExcludeFromCollections: true
eleventyComputed:
  permalink: "{% if not entry.dataset_id %}false{% else %}stac/{{ entry.dataset_id | slugify }}/collection.json{% endif %}"
---
{{ entry | stacCollection | dump(2) | safe }}
