---
permalink: stac/index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en-US">
<meta charset="utf-8">
<title>Redirecting&hellip;</title>
<link rel="canonical" href="https://stac.dynamical.org/">
<script>location="https://stac.dynamical.org/"</script>
<meta http-equiv="refresh" content="0; url=https://stac.dynamical.org/">
<meta name="robots" content="noindex">
<h1>Redirecting&hellip;</h1>
<p>The STAC catalog has moved to <a href="https://stac.dynamical.org/">stac.dynamical.org</a>.</p>
</html>
