---
layout: base.njk
title: updates
redirect_from: [/follow, /follow.html]
---

<div id="newsletter" class="content centered" style="margin-bottom: 4rem;">
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/dynamical"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/dynamical', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="marshall@dynamical.org" style="width: 300px;"/>
    <br />
    <input type="checkbox" name="tag" id="tester" value="tester" />
    <label for="tag">I would like to test new datasets and libraries</label>
    <br />

    <input type="hidden" value="1" name="embed" />
    <input type="submit" value="Subscribe to updates" />
  </form>
</div>

<div class="content">
{%- for post in collections.updates | reverse -%}
  <article>
    <h2>{{post.data.title}}</h2>
    <em>{{post.page.date | readableDate}}</em>
    {{post.content | safe}}
  </article>
{%- endfor -%}
</div>
