{% if entry.status == 'live' %}
<span class="status-pill status-pill--updating">updating</span>
{% elseif entry.status == 'available' %}
<span class="status-pill status-pill--available">available</span>
{% else %}
<span class="status-pill status-pill--other">{{entry.status}}</span>
{% endif -%}

