{% if entry.status == 'live' %}
<span style="background-color: rgb(120, 250, 100);">updating 𝧤</span>
{% endif -%}

{% if entry.status == 'todo' %}
<span style="background-color: rgb(240, 240, 240);">on roadmap</span>
{% endif -%}

