---
layout: base.njk
---

<div class="content">
  <h1>{{ title }}</h1>
  <em>{{ page.date | readableDate }}</em>
  {% if audio_url %}
    <div style="margin: 2rem 0;">
      <audio controls style="width: 100%; max-width: 600px;">
        <source src="{{ audio_url }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
    {% endif %}
    {{ content | safe }}
  </div>