*,
*::before,
*::after {
  box-sizing: border-box;
}

/* html is set to 62.5% so that all the REM measurements are 1rem = 10px */
html {
  font-size: 62.5%;
}

body,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Mono', monospace;
}

body {
  padding: 2rem 4rem;
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--header-color);
}

p {
  margin-bottom: 1.2rem;
}

table {
  border-collapse: collapse;
}

table.data {
  margin-left: -20px;
  margin-right: -20px;
  border: 1px solid black;
  width: calc(100% + 40px);
}

table.data th {
  border-bottom: 1px solid black;
}

table.data td,
th {
  padding: 10px 20px;
  border-right: 1px dotted black;
}

table.data tr td,
table.data tr th {
  text-align: right;
}

tr td:first-of-type,
tr th:first-of-type {
  text-align: left;
}

caption {
  padding: 10px;
}

.hero {
  display: block;
  width: 100%;
  max-width: 910px;
  margin: auto;
}

nav,
.content,
.frame {
  max-width: 78rem;
  margin: auto;
}

article {
  border: 1px solid black;
  margin: 2rem -3rem;
  padding: 2rem 3rem;
}

nav {
  text-align: right;
}

nav ul {
  padding-inline-start: 0;
}

nav ul li {
  list-style: none;
}

.content {
  font-size: 2rem;
}

.content.centered {
  text-align: center;
}

.frame {
  margin: 2rem auto;
  border: 1px solid #292929;
  border-radius: 6px;
  background: #171717;
  overflow: hidden;
}

.frameHeader {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid #292929;
  background: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  gap: 12px;
}

.frameHeaderTitle {
  position: relative;
  display: grid;
  height: 40px;
  align-items: center;
  color: #fafafa;
  font-size: 14px;
  line-height: 40px;
  vertical-align: top;
  border-bottom: 1px solid white;
}

.frameHeaderSubtitle {
  height: 40px;
  color: #898989;
  font-size: 14px;
  line-height: 40px;
}

.frameContent {
  width: 100%;
  margin: 0;
  overflow-x: auto;
  background: #1d1f21;
}

.frameContent code {
  font-family: inherit;
  font-size: 1.5rem;
  letter-spacing: 0.1px;
  line-height: 22.5px;
}

.frameContentMobile {
  display: none;
}

.frameResult {
  width: 100%;
  outline: 1px solid #292929;
  display: block;
}

#newsletter {
  margin-top: 4rem;
}

#newsletter form > * {
  margin: 1rem 0;
}

.content input {
  font-size: inherit;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 2rem 1rem;
  }

  .frame {
    margin: 4rem auto;
  }

  .frameContentDesktop + .frameContentMobile {
    display: none;
  }

  .frameContentMobile {
    display: block;
  }
}
